/* Style the tab */
.tab {
  overflow: hidden;
  border: 0px solid transparent;
  background-color: transparent;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: transparent;
  float: left;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: yellow
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: grey;
  color: yellow;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #000000;
  color: yellow
}

/* Style the tab content */
.tabcontent {
  float: up;
  display: none;
  padding: 6px 12px;
  border: 1px #000000;
  background-color: #000000;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.tabcontent {
  animation: fadeEffect .5s; /* Fading effect takes .5 seconds */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}